* {
  box-sizing: border-box;
}

html,
body {
  min-width: 1120px;
  /* Ensures viewport does not shrink below typical mobile width */
  min-height: 760px;
  /* Ensures viewport does not shrink below a typical mobile height */
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  background: url('../images/wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
a{
  text-decoration: none;
}
#desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 1;
}

#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(#1f2f86, #3165c4 3%, #3682e5 6%, #4490e6 10%, #3883e5 12%, #2b71e0 15%, #2663da 18%, #235bd6 20%, #2258d5 23%, #2157d6 38%, #245ddb 54%, #2562df 86%, #245fdc 89%, #2158d4 92%, #1d4ec0 95%, #1941a5 98%);
  display: flex;
  align-items: center;
  padding: 0 0px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.taskbar-item {
  background-color: #1e52b7;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .2), inset 1px 0 1px rgba(0, 0, 0, .7);
  transition: background-color 0.3s;
}

.taskbar-item:hover {
  filter: brightness(130%);
}

.taskbar-item.minimized:hover {
  filter: brightness(130%) !important; /* Override hover effect while minimized */
}

.quickStart {
  top: 10%;
  left: 20%;
  position: absolute;
  display: inline;
  width: 750px;
  height: 75%;
  transform: translate(-10px, -1px);
  z-index: 10;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.quickStart .titleBar {
  background: linear-gradient(#0058ee, #3593ff 4%, #288eff 6%, #127dff 8%, #036ffc 10%, #0262ee 14%, #0057e5 20%, #0054e3 24%, #0055eb 56%, #005bf5 66%, #026afe 76%, #0062ef 86%, #0052d6 92%, #0040ab 94%, #003092);
  background-color: #5c5c5c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  
  /* cursor: grab; */
}

.titleBar:active {
  /* cursor: grabbing; */
}

.quickStart .titleBar .titleLogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.quickStart .titleBar .titleLogo img {
  margin-left: 8px;
}

.quickStart .titleBar .titleLogo .quickTitle {
  cursor: default;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  font-family: Tahoma, sans-serif;
  text-shadow: #000 1px 1px;
  margin-left: 5px;
}

.quickStart .titleBar .formControls {
  display: flex;
  align-items: center;
}

.quickStart .titleBar .formControls .minimize {
  background: url('../images/Minimize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
.formControls .minimize:hover {
  filter: brightness(1.3);
}
.quickStart .titleBar .formControls .maximize {
  background: url('../images/Maximize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.quickStart .titleBar .formControls .close {
  background: url('../images/Exit.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.formControls .close:hover {
  filter: brightness(1.3);
}

.quickStart .contentBG {
  display: flex;
  background-color: #0831d9;
  padding: 0 4px 4px;
  height: calc(100% - 35px);


}

.quickStart .contentBG .toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quickStart .contentBG .subBG {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.quickStart .contentBG .subBG .toolbar {
  display: flex;
  height: 32px;
  flex-direction: row;
  /* background-color: #574b0a; */
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.quickStart .contentBG .subBG .toolbar .toolButtons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  color: #222;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
}

.quickStart .contentBG .subBG .toolbar .toolButtons p {
  cursor: default;
  font-size: 13px;
  padding: 6px;
  border: 1px solid transparent;

}

.quickStart .contentBG .subBG .mainParent {
  box-sizing: border-box;
  background-color: #6375d6;
  height: calc(100% - 32px);
  width: 100%;
}

.quickStart .contentBG .subBG .mainParent .mainContent {
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-image: url('../images/check1.png');
  background-repeat: no-repeat;
  background-position: 120% 70%;
  background-size: 70% 70%;
  opacity: 1;
  outline: none;
  padding: 20px;
  overflow: auto;
}

.quickStart .contentBG .subBG .mainParent .mainContent .content h3 {
  color: #d6dff5;
  font-weight: 700;
}




.content {
  display: block;
  unicode-bidi: isolate;
}

.welcomeText {
  color: #d6dff5;
  font-weight: 700;
  font-size: 2rem;
}

.para {
  font-size: 20px;
  color: #d6dff5;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.linksParent {
  display: flex;
  flex-direction: row;
}

.linkblock1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
  height: 100%;
  padding: 15px;
  margin: 0;

}

.linkblock2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
  height: 100%;
  padding: 15px;
  margin: 0;
}


.linkQuickStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  cursor: pointer;
}

.linkQuinckPara {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.details {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.selfDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.details-card {
  background: linear-gradient(to bottom, #d6dff5, #cad6f3);
  border: 2px solid #4d7fdd;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 12px 16px;
  width: 400px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #333;
}

.details-card .name p {
  font-size: 20px;
  margin: 8px 0;
}

.details-card p {
  font-size: 14px;
  margin: 8px 0;
}

.details-card p strong {
  color: #333333;
}




/* .aboutMe {
  display: none;
} */
#aboutMeItem {
  display: none;
}


.aboutMe {
  top: 12%;
  left: 21.5%;
  position: absolute;
  display: none;
  /* display: inline; */
  width: 750px;
  height: 75%;
  transform: translate(-10px, -1px);
  z-index: 12;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.aboutMe .titleBar {
  background: linear-gradient(#0058ee, #3593ff 4%, #288eff 6%, #127dff 8%, #036ffc 10%, #0262ee 14%, #0057e5 20%, #0054e3 24%, #0055eb 56%, #005bf5 66%, #026afe 76%, #0062ef 86%, #0052d6 92%, #0040ab 94%, #003092);
  background-color: #5c5c5c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  
  /* cursor: grab; */
}

.titleBar:active {
  /* cursor: grabbing; */
}

.aboutMe .titleBar .titleLogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.aboutMe .titleBar .titleLogo img {
  margin-left: 8px;
}

.aboutMe .titleBar .titleLogo .quickTitle {
  cursor: default;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  font-family: Tahoma, sans-serif;
  text-shadow: #000 1px 1px;
  margin-left: 5px;
}

.aboutMe .titleBar .formControls {
  display: flex;
  align-items: center;
}

.aboutMe .titleBar .formControls .minimize {
  background: url('../images/Minimize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
.aboutMe .titleBar .formControls .maximize {
  background: url('../images/Maximize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.aboutMe .titleBar .formControls .close {
  background: url('../images/Exit.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.aboutMe .contentBG {
  display: flex;
  background-color: #0831d9;
  padding: 0 4px 4px;
  height: calc(100% - 35px);


}

.aboutMe .contentBG .toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.aboutMe .contentBG .subBG {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.aboutMe .contentBG .subBG .toolbar {
  display: flex;
  height: 32px;
  flex-direction: row;
  /* background-color: #574b0a; */
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.aboutMe .contentBG .subBG .toolbar .toolButtons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  color: #222;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
}

.aboutMe .contentBG .subBG .toolbar .toolButtons p {
  cursor: default;
  font-size: 13px;
  padding: 6px;
  border: 1px solid transparent;

}

.aboutMe .contentBG .subBG .mainParent {
  box-sizing: border-box;
  background-color: #6375d6;
  height: calc(100% - 32px);
  width: 100%;
}

.aboutMe .contentBG .subBG .mainParent .mainContent {
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-image: url('../images/check1.png');
  background-repeat: no-repeat;
  background-position: 7% 80%;
  background-size: 50% 50%;
  opacity: 1;
  outline: none;
  padding: 20px;
  overflow: auto;
}

.aboutMe .contentBG .subBG .mainParent .mainContent .content h3 {
  color: #f7f8fc;
}

.paraAbout {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.aboutMeContent {
  display: flex;
  flex-direction: row;
}

.imgContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin: 0;
}

.paraContent {
  width: 60%;
}

.aboutMePin {
  object-fit: cover;
  border-radius: 20%;
}

.whyText {
  color: #ffffff;
  margin-top: 30px;
}

















#projectItem {
  display: none;
}


.projects {
  top: 14%;
  left: 23%;
  position: absolute;
  display: none;
  /* display: inline; */
  width: 750px;
  height: 75%;
  transform: translate(-10px, -1px);
  z-index: 12;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.projects .titleBar {
  background: linear-gradient(#0058ee, #3593ff 4%, #288eff 6%, #127dff 8%, #036ffc 10%, #0262ee 14%, #0057e5 20%, #0054e3 24%, #0055eb 56%, #005bf5 66%, #026afe 76%, #0062ef 86%, #0052d6 92%, #0040ab 94%, #003092);
  background-color: #5c5c5c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  
  /* cursor: grab; */
}

.titleBar:active {
  /* cursor: grabbing; */
}

.projects .titleBar .titleLogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.projects .titleBar .titleLogo img {
  margin-left: 8px;
}

.projects .titleBar .titleLogo .quickTitle {
  cursor: default;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  font-family: Tahoma, sans-serif;
  text-shadow: #000 1px 1px;
  margin-left: 5px;
}

.projects .titleBar .formControls {
  display: flex;
  align-items: center;
}

.projects .titleBar .formControls .minimize {
  background: url('../images/Minimize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
.projects .titleBar .formControls .maximize {
  background: url('../images/Maximize.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.projects .titleBar .formControls .close {
  background: url('../images/Exit.png') no-repeat 50%;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.projects .contentBG {
  display: flex;
  background-color: #0831d9;
  padding: 0 4px 4px;
  height: calc(100% - 35px);


}

.projects .contentBG .toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.projects .contentBG .subBG {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.projects .contentBG .subBG .toolbar {
  display: flex;
  height: 32px;
  flex-direction: row;
  /* background-color: #574b0a; */
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.projects .contentBG .subBG .toolbar .toolButtons {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  color: #222;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-left: 2px;
}

.projects .contentBG .subBG .toolbar .toolButtons p {
  cursor: default;
  font-size: 13px;
  padding: 6px;
  border: 1px solid transparent;

}

.projects .contentBG .subBG .mainParent {
  box-sizing: border-box;
  background-color: #6375d6;
  height: calc(100% - 32px);
  width: 100%;
}

.projects .contentBG .subBG .mainParent .mainContent {
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-image: url('../images/check1.png');
  background-repeat: no-repeat;
  background-position: 7% 80%;
  background-size: 50% 50%;
  opacity: 1;
  outline: none;
  padding: 20px;
  overflow: auto;
}







.startButton {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 120px;
  height: 100%;
  margin-right: 30px;
  background: linear-gradient(to bottom, #5fba7d, #3e8c4e);
  border: 2px solid #2b5c34;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.5), 2px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: default;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.startButton img {
  width: 25px;
  height: 25px;
}

.startButton:hover {
  background: linear-gradient(to bottom, #6fd48c, #4aa361);
  border-color: #3b7a47;
}

.startButton:active {
  background: linear-gradient(to top, #5fba7d, #3e8c4e);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#icons1 {
  position: fixed;
  top: 20px;
  left: 20px;
}


#icons2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


#icons3 {
  position: fixed;
  top: 20px;
  right: 20px;
}

.icon {
  text-align: center;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0s ease, background-color 0s ease;
}

.icon.selected {
  background-color: #4e92ff;
  border: 2px solid #2858a1;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.icon img {
  width: 64px;
  height: 64px;
}

.icon p {
  margin-top: 5px;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
}

.actionCenter{
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(#0c59b9 1%, #139ee9 6%, #18b5f2 10%, #139beb 14%, #1290e8 19%, #0d8dea 63%, #0d9ff1 81%, #0f9eed 88%, #119be9 91%, #1392e2 94%, #137ed7 97%, #095bc9);
  box-shadow: inset 1px 0 1px #18bbff;
}

.actionTime {
  color: white;
  margin-right: 6px;
  font-size: 14px;
  text-align: center;
}

.startMenu {
  display: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 440px;
  height: 600px;
  flex-direction: column;
  background-color: #4282d6;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, .5);
}

.startMenu.hidden {
  display: flex;
}


.StartMenu_whitehr__H6ND9 {
  width: 97%;
  height: 3px;
  background: #6fb1f8;
  border: 0;
  padding: 0;
  margin: 0;
}

.starUser {
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  padding: 6px 5px 5px;
  background: linear-gradient(#1868ce, #0e60cb 12%, #0e60cb 20%, #1164cf 32%, #1667cf 33%, #1b6cd3 47%, #1e70d9 54%, #2476dc 60%, #297ae0 65%, #3482e3 77%, #3786e5 79%, #428ee9 90%, #4791eb);
  height: 12%;
  overflow: hidden;
}

.StartMenu_orangehr__azP0w {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent 10%, orange 50%, transparent);
  padding: 0;
  margin: 0;
}

.startOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  height: 79%;
  padding: 0;
  margin: 0;
}

.sectionStartMenu {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.bm{
  padding: 0;
  margin: 0;
}

.optionStartMenu{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin: 0 3px 0 1px;
  cursor: default;
}

.optionStartMenu:hover {
  background-color: #2f71cd;
  
}

.optionStartMenu:hover .StartMenuItem1{
  color: #ffffff;
}

.optionStartMenu:hover .StartMenuItem2{
  color: #ffffff;
}

.optionStartMenu:hover .StartMenuItemMain{
  color: #ffffff;
}

.StartMenuItem_leftIcon__hWgX7 {
  height: 32px;
  margin-left: 8px;
  margin-right: 4px;
}

.StartMenuItem1 {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.StartMenuItem2 {
  color: #919191;
  font-size: 12px;
}

.StartMenuItemMain {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #222;
}

.StartMenu_greyhr__gd9nV {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent 0, #d2d2d2 50%, transparent);
  border: 0;
}

.allP {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 30px;
  margin: 3px;
  font-size: 12px;
  color: #222;
  cursor: default;
}

.allP:hover {
  background-color: #2f71cd;
  color: #ffffff;
}

.sectionStartRight {
  padding-left: 5px;
  width: 50%;
  height: 100%;
  background-color: #d2e5fa;
  border: 0;
  border-left: 1px #a6bbd6;
  border-style: solid;
}
.rightMenuOptions {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin: 0 3px 0 1px;
  cursor: default;
}

.rightMenuOptions:hover {
  background-color: #2f71cd;
}

.rightMenuOptions:hover .optionRightMenu{
  color: #ffffff;
}

.rightMenuOptions:hover .StartMenuItem_TextFOUR{
  color: #ffffff;
}

.optionRightMenu {
  color: #00136b;
  font-weight: 700;
  font-size: 12px;
}

.rightStartImg {
  height: 32px;
  margin-right: 4px;
}

.StartMenuItem_menu_arrow {
  border-bottom: 3.5px solid transparent;
  border-top: 3.5px solid transparent;
  border-right: 0;
  border-left: 3.5px solid #00136b;
  margin-left: 25px;
}


.StartMenu_bluehr__BKW4T {
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent 0, rgba(135, 179, 226, .71) 50%, transparent);
  border: 0;
}

.StartMenuItem_TextFOUR {
  color: #00136b;
  font-size: 12px;
}

.bottomBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 8%;
  background: linear-gradient(#4282d6, #3b85e0 3%, #418ae3 5%, #418ae3 17%, #3c87e2 21%, #3786e4 26%, #3482e3 29%, #2e7ee1 39%, #2374df 49%, #2072db 57%, #196edb 62%, #176bd8 72%, #1468d5 75%, #1165d2 83%, #0f61cb 88%);
}

.powerICO {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12;
  color: #fff;
  margin: 0 5px;
  padding: 0 5px;
  cursor: default;
  font-size: 12px;
}

.powerICO:hover {
  background-color: rgba(0, 0, 0, 0.05); /* optional subtle highlight */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.StartMenu_systemBtnIcon {
  border-radius: 3px;
  margin-right: 3px;
}